.container-course-page {
    padding: 40px 70px;
    min-height: calc(100vh - 50px);
}

.content-above {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-delivery-by-course {
    background-color: #0C2D48;
    border: 1px solid #0C2D48;
    color: white;
    padding: 8px 15px;
    margin-right: 10px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.2s all;
}

.button-delivery-by-course:hover {
    background-color: transparent;
    color: #0C2D48;
    cursor: pointer;
}

.content-above-left {
    display: flex;
    align-items: center;
}

.link-icon-goback {
    height: 22px;
}

.custom-arrow-previous {
    transform: rotate(-180deg);
    margin-right: 20px;
}
