.container {
    width: 330px;
    /* height: 70vh; */
    /* min-height: 710px; */
    padding: 30px 15px;

    background-color: var(--light-blue1);
    border-radius: 10px;
    
    /* display: flex;
    align-items: center;
    flex-direction: column; */

    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
}

.avatarImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(90, 84, 84);
}

.studentInfo {
    align-self: flex-start;
    /* margin-top: 22px;
    margin-left: 16px; */
    padding-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.marginTop7 {
    margin-top: 7px;
}

.multilineTruncation {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media(max-width: 810px) {
    .container {
        width: 280px;
    }
}

/* @media(max-height: 1024px) {
    .container {
        min-height: 510px;
        width: 290px;
    }
}

@media(max-width: 760px) {
    .container {
        display: none;
    }
} */