.pageContainer {
    max-width: 1135px;
    margin: 0 auto;
}

.headersContainer {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.coursesContainer {
    max-height: 520px;

    align-self: center;

    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-gap: 36px;

    align-items: center;

    padding-right: 140px;
}

.profileContainer {
    padding-left: 140px;

    border-left: 3px solid var(--dark-blue1) ;
}

