.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    outline: none;
}

.btn-second {
    background-color: var(--dark-blue2);
    border: 1px solid var(--dark-blue2);
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid var(--dark-blue2);
    color: var(--dark-blue2);
}
