@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-blue1: #B1D4E0;
  --light-blue2: #2E8BC0;
  --dark-blue1: #145DA0;
  --dark-blue2: #0C2D48;
}