.lesson-container {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 30px 10px rgb(0 0 0 / 20%);
}

.lesson-title {
    font-weight: 600;
}

.lesson-subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
